<!DOCTYPE html>
<html lang="en">
<head>
    <!-- stylesheet -->
    <link rel="stylesheet" href="../assets/css/style.css">
   <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
   {{!-- Link to use material icons --}}
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{{!-- Link to google jQuery --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Compiled and minified JavaScript -->
  {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> --}}

   <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4-9hGWq5vQdSnKoHQoFmtnEcLYevfENk&callback=initMap">
</script>

    <title>Find Me</title>
</head>
<body>
    {{{body}}}
</body>
</html>