  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><i class="material-icons">person_pin</i>Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/resources">Resources</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
  <h1>Meet the Developers</h1>
<div class="about_grid">
  <div class="row">
      <div class="col s6"><img src="" alt="Aile" height="142" width="150">
        <h3><b>Aile</b></h3><br>
      </div>
      <div class="col s6"><img src="" alt="Dan" height="142" width="150">
        <h3><b>Daniel E</b></h3>
        </div>
  </div>
  <div class="row">
    <div class="col s6"><img src="" alt="Sarah" height="142" width="150">
    <h3><b>Sarah</b></h3></div>
    <div class="col s6"><img src="./assets/images/thallFace.JPG" alt="Tamara Hall" height="142" width="150">
      <h3><b>Tamara Hall</b></h3>
      <p>Tamara graduated from UCF with a degree in Business Administration. Continuing her education, she went back to UCF to study full stack development and is now a back-end developer. She loves creating and designing using Full Stack programing languages.</p></div>

  </div>  
</div>
</div>
<footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright BRB
            </div>
          </div>
        </footer>

