
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><i class="medium material-icons">person_pin</i>Find Me</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/resources">Resources</a></li>
      </ul>
    </div>
  </nav>
  <form action="/" method="POST">
<a class="waves-effect waves-light btn" href="/search">Search</a> <a class="waves-effect waves-light btn">Report</a> <a class="waves-effect waves-light btn" href="/signup">Sign Up</a> 
</form>

<div id="map"></div>

<footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright BRB
            </div>
          </div>
        </footer>



 <!-- Modal Trigger -->
  {{!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Sign Up</a> --}}
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Welcome</h4>
      <p>Please Log in or Sign up</p>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-light btn-large"><i class="material-icons right">account_box</i>Log In</a>
      <a class="waves-effect waves-light btn-large"><i class="material-icons right">create</i>Sign Up</a>
    </div>
  </div>
  
  <!-- Link in jQuery -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


{{!-- Adding JavaScript and JQuery --}}
<script>
  
  
  $(document).ready(function(){
    $('#modal1').modal("open");
  });

      var map, infoWindow;
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 6
  });
  infoWindow = new google.maps.InfoWindow;

  // Try HTML5 geolocation.
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };

      infoWindow.setPosition(pos);
      infoWindow.setContent('Location found.');
      infoWindow.open(map);
      map.setCenter(pos);
    }, function() {
      handleLocationError(true, infoWindow, map.getCenter());
    });
  } else {
    // Browser doesn't support Geolocation
    handleLocationError(false, infoWindow, map.getCenter());
  }
}

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(browserHasGeolocation ?
                        'Error: The Geolocation service failed.' :
                        'Error: Your browser doesn\'t support geolocation.');
  infoWindow.open(map);
}
    
  
</script>