
  <nav>
  <div class="nav-wrapper">
      <a href="#" class="brand-logo"><i class="medium material-icons">person_pin</i>Find Me</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </nav>
{{!-- Pull out Side bar --}}
  <ul id="slide-out" class="side-nav">
    <li><div class="user-view">
      <div class="background">
        <img src="./assets/images/cardboard_robot.jpg" style="width:300px;height:250px;">
      </div>
      <a href="#!user"><img class="circle" src="./assets/images/person_face.jpg"></a>
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="/search"><i class="material-icons">cloud</i>Search for Missing Person</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>How to Report</a></li>
    {{!-- <li><a href="/signup"><i class="material-icons">cloud</i>Sign Up!</a></li> --}}
    <br>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Resources</a></li>
    <li><a class="waves-effect" href="https://www.fbi.gov/wanted/kidnap">FBI</a></li>
    <li><a class="waves-effect" href="http://www.cityoforlando.net/police/category/missing-persons/">City Of Orlando</a></li>
    <li><a class="waves-effect" href="https://www.ocso.com/Public-Interest/Missing-Persons">Orange County Sheriff's Office</a></li>
    <li><a class="waves-effect" href="https://www.findthemissing.org/en">NamUs</a></li>
 
  </ul>
  {{!-- <a href="#" data-activates="slide-out" class="button-collapse"></a><i class="material-icons">menu</i></a> --}}

  <a href="#" data-activates="slide-out" class="btnbutton-collapse">Side nav demo</a>
{{!-- Google Map   --}}

<div id="map"></div>

{{!-- Page footer --}}
{{!-- <footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright BRB
            </div>
          </div>
        </footer> --}}

    <script src="https://apis.google.com/js/platform.js" async defer></script>

   {{!-- specify app client ID --}}
   <meta name="google-signin-client_id" content="808214130997-fpb1hbehkqloerfab3gumlp120dvsoe3.apps.googleusercontent.com">

 <!-- Link in jQuery -->
 <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

{{!-- Adding JavaScript and JQuery --}}
 <script>

  

      var map, infoWindow;
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 6
  });

  infoWindow = new google.maps.InfoWindow;

  // Try HTML5 geolocation.
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };

      infoWindow.setPosition(pos);
      infoWindow.setContent('Location found.');
      infoWindow.open(map);
      map.setCenter(pos);
    }, function() {
      handleLocationError(true, infoWindow, map.getCenter());
    });
  } else {
    // Browser doesn't support Geolocation
    handleLocationError(false, infoWindow, map.getCenter());
  
}

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(browserHasGeolocation ?
                        'Error: The Geolocation service failed.' :
                        'Error: Your browser doesn\'t support geolocation.');
  infoWindow.open(map);
}
}


   $(document).ready(function(){
   $('.button-collapse').sideNav();  

   });





</script>

<a href="#" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }

  // auth2 is initialized with gapi.auth2.init() and a user is signed in.

if (auth2.isSignedIn.get()) {
  var profile = auth2.currentUser.get().getBasicProfile();
  console.log('ID: ' + profile.getId());
  console.log('Full Name: ' + profile.getName());
  console.log('Given Name: ' + profile.getGivenName());
  console.log('Family Name: ' + profile.getFamilyName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail());
}

</script>

