<div class = "row">
  <div class="mainDiv">
    <div class="mainOptionScroll">
    <script type="text/javascript">
        function checkPass(){
      //Store the password field objects into variables ...
      var pass1 = document.getElementById('pass1');
      var pass2 = document.getElementById('pass2');
      //Store the Confimation Message Object ...
      var message = document.getElementById('confirmMessage');
      //Set the colors we will be using ...
      var goodColor = "#A2D8E2";
      var badColor = "#A2D8E2";
      //Compare the values in the password field 
      //and the confirmation field
      if(pass1.value == pass2.value){
        //The passwords match. 
        //Set the color to the good color and inform
        //the user that they have entered the correct password 
        pass2.style.backgroundColor = goodColor;
        message.style.color = goodColor;
        message.innerHTML = "Passwords Match!"
      }else{
        //The passwords do not match.
        //Set the color to the bad color and
        //notify the user.
        pass2.style.backgroundColor = badColor;
        message.style.color = badColor;
        message.innerHTML = "Passwords Do Not Match!"
      }
    }
    </script>
      <form class="" action="/signup" method="POST">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" class="validate">
        </div>

        <div class="form-group">
          <label for="username">Email:</label>
          <input type="email" id="username" name="email" class="validate">
        </div>

        <div class="form-group">
          <label for="pass1">Password:</label>
          <input type="password" id="pass1" name="password" class="validate" onkeyup="checkPass(); return false;">
        </div>  

         <div class="form-group">
          <label for="pass2">Re-type Password:</label>
          <input type="password" id="pass2" class="validate" onkeyup="checkPass(); return false;">
          {{!<span id="confirmMessage" class="confirmMessage"></span>}}
        </div>  

        <div class="center-align">
          <button type="submit" class="waves-effect waves-light btn-large red accent-4">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>