#map {
    height: 50%;
    width: 50%;
    position: center;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }