/* body { */
  /* background-image: url("https://wallpaperscraft.com/image/railroad_grass_trees_101258_602x339.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-position: right top; */
/* }; */

/* body { 
  background-image: url("https://wallpaperstock.net/wallpapers/thumbs1/53431hd.png");
  background-repeat: no-repeat;
  background-position: right top;
 }; */

#map {
    height: 40%;
    width: 40%;
    
  }
  html, body {
    height: 100%;
    margin: 30;
    padding: 50;
  }

  /* .footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  } */