body { */
  background-image: url("http://s.newsweek.com/sites/www.newsweek.com/files/styles/full/public/2017/02/17/planet-earth.jpg");
  background-repeat: no-repeat;
  background-position: right top;
/* /* }; */

#map {
    height: 40%;
    width: 40%;
    
  }
  html, body {
    height: 100%;
    margin: 30;
    padding: 50;
  }

  /* /* .footer { */
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  } */